html {
    width: 100%;
    min-width: 1200px
}

.main {
    width: 1200px;
    margin: 0 auto;
}


/* 头部 */

.head {
    height: 90px;
    position: relative;
}

.head img {
    position: absolute;
    left: 0;
    height: 100%;
    display: inline-block;
}

.head .menu {
    height: 90px;
    line-height: 90px;
    margin: 0;
    margin-left: 400px;
    display: inline-block;
    padding: 0
}

.menu li {
    list-style: none;
    float: left;
}

.menu_active {
    text-align: center;
    background-color: #d72340;
    color: #fff
}


/*轮播-替换bootstrap样式*/

.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}


/* 新闻中心 */

.new {
    width: 100%;
    margin-top: 105px
}

.new .newWord {
    margin-top: 48px;
    width: 100%;
    position: relative
}

.newWord .left {
    width: 562px;
    height: 376px;
    background-color: #f0eced;
    margin-top: 33px;
    display: inline-block;
    position: relative;
}

.left .data {
    position: absolute;
    top: 40px;
    right: 30px
}

.left .article {
    width: 380px;
    position: absolute;
    top: 95px;
    left: 150px;
}

.article h4 {
    font-weight: bold;
    line-height: 28px
}

.article div {
    margin-top: 27px
}

.newWord .right {
    width: 556px;
    position: absolute;
    top: 60px;
    margin-left: 50px;
    padding-right: 15px;
    display: inline-block;
}

.product {
    width: 100%;
    margin-top: 130px
}